@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");

html {
  padding-top: 0;
}

body {
  text-align: center;
  background-color: #f9faf3;
}

p {
  color: #8f8f8f;
}

.colored-section-1 {
  background-color: #a9a3a3;
  height: 100%;
}

.colored-section-2 {
  background-color: #93c091;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #fff;
}

#title {
  color: #fff;
  text-align: center;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  display: flex;
  justify-content: right;
  padding-right: 2%;
  overflow: auto;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: #a56cad;
}

.logo {
  padding-top: 6%;
  height: 500px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
